@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
  padding: 3px 8px 3px 8px;
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}

.border-10 {
  border: 1px solid var(--ui-text);
}

.border-5 {
  border: 0.5px solid var(--ui-text);
}

.box-shadow {
  box-shadow: 10px 10px 0px 0px var(--ui-text);
}
